<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Document</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="container mt-4">
            <% if(locals.blogs.length > 0) { %>
               <% blogs.forEach( blog => { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.body %></p>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
               <% }) %>
            <% } else { %> 
                 <h1>No blogs</h1>
            <% } %>    
        </div>
        <%- include('./partials/scripts') %>
</body>

</html>